body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--main_color);
}

.link {
  text-decoration: none;
}

:root {
  --main_color: #ffffff;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
}

.header-logo span {
  color: #4d5ae5;
}
